
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.contenedor{
    width: 80%;
    background: rgb(171, 191, 199);
    margin: auto;
    flex-wrap: wrap;
}

.contenedor-full{
    width: 100%;
}

/* HEADER */
header{
    background: rgb(122, 154, 250);
    width: 100%;
    display: flex;
    justify-content: space-around;
}

h1, h2{
    text-align: center;
}
header img{
     width: 70px;
     height: 70px
}

#ficha-identificacion a{
    text-decoration: none;
    background: rgb(233, 203, 69);
    padding: 10px 20px;
    color: black;
    border-radius: 10px;
    border: 1px dotted black;
}

#ficha-identificacion a:hover{
    background: rgba(149, 209, 211, 0.39);
}

h2{
    background: rgba(233, 128, 8, 0.7);
}

h1 a{
    text-decoration: none;
}

/*BODY*/
#ficha-identificacion .contenedor{
    width: 70%;
    height: 600px;
    margin: auto;
    display: flex;
    text-align: center;
    justify-content: center;
}

#ficha-identificacion .contenedor input[type="text"]{
    width: 100%;
}
#ficha-identificacion .contenedor input[type="submit"]{
    background: rgb(221, 197, 61);
    margin-top: 20px;
    border:1px dotted black;
    padding: 10px 20px;
    border-radius: 10px;
}
#ficha-identificacion .contenedor input[type="submit"]:hover{
    background: rgba(222, 184, 135, 0.568);
}





/* FOOTER */
footer{
    width: 100%;
    height: 70px;
    background: #383737;
    color: white;
}

footer p{
    text-align: center;
}







